<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        //- link(rel="stylesheet", href=`${url}`)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title O-Jay
        script(src="http://localhost:3000/socket.io/socket.io.js")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js")
        link(rel="stylesheet", href="http://localhost/api/styles.css")
        link(rel="stylesheet", href="http://localhost/api/modalTheme.css")
    body
        block body
    footer 
        script.
            const socket = io("http://localhost:3000");
            socket.on('connect', function(io){
                console.log(`#{colors.red("[ğš˜-ğ™¹ğšŠğš¢]")} Connected to Socket`)
            })