extends basic.pug
block body
    aside#guilds-bar
        a#home-button(href="/@me")
            <i class="fas fa-home home"></i>
            .horizontal-line-separator
        .guilds
            #guilds
            <i class="fas fa-plus add-server" onclick="guildAdd()"></i>  
    #direct-messages
    block modal
        