extends layouts/basic.pug
block body
    if user == null
        #main(style="display: flex;justify-content:center;align-items:center;overflow:hidden;height: 100vh;flex-direction:column;gap: 5px;")
            h1(style="color: white;font-size:50px;margin: 5px;transform: scale(2)") o-Jay
            h3(style="color: whitesmoke;font-size:25px;") Open Source Messaging App

            #signup(style="background-color: #e94560;padding: 10px 75px;padding-bottom: 30px;border-radius: 30px;flex-direction: column !important;display: flex;")
                a(type="reset",href="/login",style="background-color: #0f3460;margin-top: 10px;border-radius:5px;width: 100%;border: none;padding:15px 20px;color: white;font-weight:700") Login
                a(type="reset",href="/register",style="background-color: #0f3460;margin-top: 10px;border-radius:5px;width: 100%;border: none;padding:15px 20px;color: white;font-weight:700") Register

            